.card {
  position: relative;
  background: linear-gradient(155deg, #001a73 0%, #0b1a2b 80%);
  border-radius: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s, opacity 0.5s;
  will-change: transform;
  cursor: grab;
  overflow: hidden;
  touch-action: none;
}
.card .image {
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.card > div {
  will-change: transform;
  height: 100%;
  margin: 0vw 0;
}

.card > div > * {

  margin: 0vw 0;
}

.container {
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.card .textContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.card h1 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  overflow-wrap: break-word;

}

.card p {
  color: white;
  font-size: 12px;
  text-align: center;
}

.card .customdarkbutton {
  font-size: 12px;
  align-items: center;
  align-self: center;
  border-radius: 40px;
  margin-left: 20px;
  height: 25px;
  margin-top: 15px;
}
